@font-face {
    font-family: 'Ogg-Roman';
    src: url('fonts/Ogg-Roman.eot');
    src: url('fonts/Ogg-Roman.ttf');
    format('truetype');
}

@font-face {
    font-family: 'agipo_bold_condensed';
    src: url('fonts/agipo_bold_condensed.eot');
    src: url('fonts/agipo_bold_condensed.ttf');
    format('truetype');
}

html {
    overflow: hidden;
}

body {
    background-color: #DADADA;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* margin: 2% auto; */
    display: grid;
    grid-template-rows: repeat(2, minmax(10%, min-content));
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    /* grid-auto-rows: 150px; */
    /* grid-row-gap: 10px;*/
    /* grid-column-gap: 10px;  */
    /* grid-template-columns: repeat(auto-fill, 100px);
    grid-template-columns: repeat(auto-fit, 100px); */
}

.item {
    padding: 0.75em;
    font-size: 1em;
    font-family: sans-serif;
    border: 1px solid green;
}

#header {
    grid-column: 1/-1;
    height: 10vh;
}

/* LEFT SIDE*/

#left-div {
    grid-column: 1/2;
    grid-row: 2/6;
}

#left-about {
    grid-column: 1/2;
    height: 30vh;
}

#left-img {
    grid-column: 1/2;
    height: 30vh;
}

/* RIGHT SIDE*/

#right-div {
    grid-column: 2/3;
    grid-row: 2/6;
}

#right-header {
    grid-column: 2/3;
    grid-row: 2/3;
}

#right-component-1 {
    grid-column: 2/3;
}

#right-component-2 {
    grid-column: 2/3;
}

#right-component-3 {
    grid-column: 2/3;
}

#right-component-4 {
    grid-column: 2/3;
}


/* FOOTER*/

/* #footer-div {
   grid-column: 1/-1;
} */

#footer-back {
    grid-column: 1/2;
    height: 5vh;
    grid-row: 6/7;
}

#footer-finish {
    grid-column: 2/3;
    height: 5vh;
    grid-row: 6/7;
}

/*
.item--2 {
    background-color: yellowgreen;
    grid-column: 1/2;
}

.item--3 {
    background-color: blueviolet;
    grid-column: 2/3;
}

.item--4 {
    background-color: palevioletred;
}

.item--5 {
    background-color: royalblue;
}

.item--6 {
    background-color: goldenrod;
}

.item--7 {
    background-color: turquoise;
}

.item--8 {
    background-color: green;
} */