@font-face {
    font-family: 'Champion-HTF-Bantamweight';
    src: url('/assets/fonts/Champion-HTF-Bantamweight.eot');
    src: url('/assets/fonts/Champion-HTF-Bantamweight.ttf');
    format('truetype');
}

@font-face {
    font-family: 'Champion-HTF-Featherweight';
    src: url('/assets/fonts/Champion-HTF-Featherweight.eot');
    src: url('/assets/fonts/Champion-HTF-Featherweight.ttf');
    format('truetype');
}

@font-face {
    font-family: 'Champion-HTF-Heavyweight';
    src: url('/assets/fonts/Champion-HTF-Heavyweight.eot');
    src: url('/assets/fonts/Champion-HTF-Heavyweight.ttf');
    format('truetype');
}

@font-face {
    font-family: 'Champion-HTF-Middleweight';
    src: url('/assets/fonts/Champion-HTF-Middleweight.eot');
    src: url('/assets/fonts/Champion-HTF-Middleweight.ttf');
    format('truetype');
}

@font-face {
    font-family: 'GT-America-Mono-Medium';
    src: url('/assets/fonts/GT-America-Mono-Medium.eot');
    src: url('/assets/fonts/GT-America-Mono-Medium.ttf');
    format('truetype');
}

@font-face {
    font-family: 'GT-America-Mono-Regular';
    src: url('/assets/fonts/GT-America-Mono-Regular.eot');
    src: url('/assets/fonts/GT-America-Mono-Regular.ttf');
    format('truetype');
}

@font-face {
    font-family: 'GT-Sectra-Medium';
    src: url('/assets/fonts/GT-Sectra-Medium.eot');
    src: url('/assets/fonts/GT-Sectra-Medium.ttf');
    format('truetype');
}


html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    background-color: #dedede;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fill, min-content));
    /* border: red solid 1px; */
}

#header {
    grid-column: 1/-1;
    height: 70vh;
}

#header-div {
    padding: 1em 15px;
    border-bottom: 2px solid #5Ae100;
    /* border: red solid 1px; */
}

.header-text-narrow {
    font-family: "Champion-HTF-Featherweight";
    font-size: 3.75em;
    line-height: 1em;
    text-transform: uppercase;
    position: relative;
}

.header-text-wide {
    font-family: "Champion-HTF-Heavyweight";
    font-size: 3.75em;
    line-height: 1em;
    text-transform: uppercase;
    position: relative;
}

/* MAIN ANIMATION DIV */

#div-anim {
    grid-column: 1/-1;
    padding: 90px 10px;
    z-index: -1;
}

#object-intro-anim {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 0;
}

#cooling-system-illos {
    width: 90vw;
}

/* VIDEO OF INTERACTIVE */

.video-section {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1/span 3;
    background-color: black;
    position: relative;
    z-index: 1;
    /* border: solid 1px red; */
}

.item-1 {
    height: 7vh;
    padding: 1em;
    border: solid 1px red;
}

.item-2 {
    height: auto;
    padding: 1em;
    border: solid 1px red;
}

.video-file {
    width: 100%;
    height: auto;
}

h3 {
    font-family: "GT-America-Mono-Medium";
    color: #5Ae100;
    font-size: 1em;
    letter-spacing: 0.025em;
    text-transform: uppercase;
}

/* ABOUT */
.about-section {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1/span 3;
    background-color: #5Ae100;
    position: relative;
}

.about-h3 {
    font-family: "GT-America-Mono-Medium";
    color:black;
    font-size: 1em;
    letter-spacing: 0.025em;
    text-transform: uppercase;
}

.body-text{
    font-family: "GT-Sectra-Medium";
    font-size: 1.85em;
    line-height: 1.4em;
    margin-bottom: 2em;
}


/* KIOSK */
.kiosk-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1/span 4;
    background-color: #5Ae100;
    position: relative;
    background-color: #dedede;
    z-index:2
}

.kiosk-item-1{
    height: 15vh;
    padding: 1em;
    border: solid 1px red;
}

.kiosk-item-2{
    height: 100%;
    border: solid 1px red;
}

/* FOOTER*/

/*
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: grid;
    width: 100%;
    grid-template-rows: repeat(2, minmax(10%, min-content));
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    grid-column: 1/-1;
    font-family: "GT-America-Mono-Medium";
    color: #5Ae100;
    font-size: 1.5em;
}

.item--footer {
    padding: 15px;
    height: 5vh;
}

#next-arrow-anim {
    width: 200px;
}

#footer-next-div {
    border-right: 2px solid #5Ae100;
    border-top: 2px solid #5Ae100;
}

#footer-next-div:hover {
    color: black;
    cursor: pointer;
}

#footer-finish {
    border-top: 2px solid #5Ae100;
    text-decoration: none;
    color: #5Ae100;
}

#footer-link {
    text-decoration: none;
    color: #5Ae100;
    line-height: 0;
}

#footer-link:hover {
    color: black;
}
*/