@font-face {
    font-family: 'Champion-HTF-Bantamweight';
    src: url('/assets/fonts/Champion-HTF-Bantamweight.eot');
    src: url('/assets/fonts/Champion-HTF-Bantamweight.ttf');
    format('truetype');
}

@font-face {
    font-family: 'Champion-HTF-Featherweight';
    src: url('/assets/fonts/Champion-HTF-Featherweight.eot');
    src: url('/assets/fonts/Champion-HTF-Featherweight.ttf');
    format('truetype');
}

@font-face {
    font-family: 'Champion-HTF-Heavyweight';
    src: url('/assets/fonts/Champion-HTF-Heavyweight.eot');
    src: url('/assets/fonts/Champion-HTF-Heavyweight.ttf');
    format('truetype');
}

@font-face {
    font-family: 'Champion-HTF-Middleweight';
    src: url('/assets/fonts/Champion-HTF-Middleweight.eot');
    src: url('/assets/fonts/Champion-HTF-Middleweight.ttf');
    format('truetype');
}

@font-face {
    font-family: 'GT-America-Mono-Medium';
    src: url('/assets/fonts/GT-America-Mono-Medium.eot');
    src: url('/assets/fonts/GT-America-Mono-Medium.ttf');
    format('truetype');
}

@font-face {
    font-family: 'GT-America-Mono-Regular';
    src: url('/assets/fonts/GT-America-Mono-Regular.eot');
    src: url('/assets/fonts/GT-America-Mono-Regular.ttf');
    format('truetype');
}

@font-face {
    font-family: 'GT-Sectra-Medium';
    src: url('/assets/fonts/GT-Sectra-Medium.eot');
    src: url('/assets/fonts/GT-Sectra-Medium.ttf');
    format('truetype');
}

/* div {
    border: 0.7px red dashed;
} */

html {
    overflow: hidden;
}

body {
    background-color: #DADADA;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, minmax(10%, min-content));
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
}

#header {
    grid-column: 1/-1;
    border-bottom: 2px solid #00DD16;
    padding: 0px;
    line-height: 0.11em;
}

#header-div {
    padding: 0px 15px;
    height: 2em;
}

.header-text {
    font-family: "Champion-HTF-Heavyweight";
    font-size: 3em;
    line-height: 0em;
    text-transform: uppercase;
    position: relative;
}

/* LEFT SIDE*/

#left-div {
    grid-column: 1/2;
    grid-row: 2/8;
    border-bottom: 2px solid #00DD16;
    border-right: 2px solid #00DD16;
    padding: 15px;
}

#left-about {
    grid-column: 1/2;
    grid-row: 2/5;
    height: 35vh;
    position: relative;
    font-family: "GT-Sectra-Medium";
    font-size: 1.65em;
    line-height: 1.25em;
}

#left-img {
    grid-column: 1/2;
    grid-row: 5/8;
    height: 55vh;
    position: relative;
}

#left-element{
    grid-column: 1/2;
    grid-row: 2/5;
    height: 90vh;
    position: relative;
    font-family: "GT-Sectra-Medium";
    font-size: 1.65em;
    line-height: 1.25em;
}


.left-arrow{
    display: inline-block;
    width: 25px;
    height: 37px;
    background-size: cover;
    background-image: url(/assets/icons/left_arrow.png);
    z-index: 1;
}

.left-arrow:hover{
    background-image: url(/assets/icons/left_green_arrow.png);
    z-index: 2;
    cursor: pointer;
}


/* RIGHT SIDE*/
#right-div {
    grid-column: 2/3;
    grid-row: 2/7;
    /* border-bottom: 2px solid #00DD16; */
    /* overflow-y: scroll; 
    overflow-x: hidden;
    scrollbar-color: black #00DD16;  
    height: 90vh; */
}

.item--header {
    padding: 5px 15px;
    font-family: "Champion-HTF-Featherweight";
    font-size: 2.85em;
    letter-spacing: 0.25pt;
    text-transform: uppercase;
    color: #00DD16;
    line-height: 1.25em;
}

.item--component {
    padding: 5px 15px;
    font-family: "Champion-HTF-Middleweight";
    font-size: 2.75em;
    letter-spacing: 0.01pt;
    text-transform: uppercase;
    color: #000;
}

#right-header {
    grid-column: 2/3;
    grid-row: 2/3;
    border-bottom: 2px solid #00DD16;
}

/* PAGE WITH ELEMENTS LISTED*/
#right-header-element{
    border: none;
}

#right-component-1 {
    grid-column: 2/3;
    border-bottom: 2px solid #00DD16;
}

#right-component-2 {
    grid-column: 2/3;
    border-bottom: 2px solid #00DD16;
}

#right-component-3 {
    grid-column: 2/3;
    border-bottom: 2px solid #00DD16;
}

#right-component-4 {
    grid-column: 2/3;
    border-bottom: 2px solid #00DD16;
}


/* STORYBOARD ANIMATION + GRAPHIC */
.storyboard_graphic{
    width: 93%;
    padding: 15px;
}


/* FOOTER */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: grid;
    width: 100%;
    grid-template-rows: repeat(2, minmax(10%, min-content));
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    grid-column: 1/-1;
    background-color: #DADADA;
    font-family: "GT-America-Mono-Medium";
    color: #00DD16;
    font-size: 1.65em;
}

#footer-back {
    padding: 15px;
    height: 5vh;
    border-right: 2px solid #00DD16;
    border-top: 2px solid #00DD16;
}

#footer-finish {
    padding: 15px;
    height: 5vh;
    border-top: 2px solid #00DD16;
}

#next-arrow-anim{
    display: inline-block;
    width: 300px;
    line-height: 0;
    padding: -2px 5px;
}

#go-back{
    text-decoration: none;
    color: #00DD16;
}

#go-back:hover{
    color: black;
}

.element-icon{
    width: 11.5em;
    display: inlines-block;
    cursor: pointer;
}

.element--item{
    padding: 5px 15px;
    display: inline-block;
}

.element-info{
    width: 1.75em;
    display: inline-block;
    padding-left: 5px;
    vertical-align: top;
}

.element-info-about{
    width: 7em;
    display: block;
    padding-top: 2em;
}


/* ILLUSTRATIONS */
#cooling-system-img{
    width: 100%;
}

#cooling-fan-img, #heat-sink-img{
    width: 85%;
    padding-left: 5%;
}

#electrical-wires-img{
    width: 72%;
    padding-left: 15%;
}

#heat-pipe-img{
    width: 95%;
    padding-left: 2%;
}


/* ELEMENTS PAGE */
.element-steps{
    font-family: 'GT-America-Mono-Medium'; 
    font-size: 0.5em;
    line-height: 2.2em;
    text-transform: uppercase;
    letter-spacing: 0.125em;
}


/* ANIMATION */
.animation{
    padding: 0px 15px;
}

/*VIDEO CONTROLS*/
#progressBar { 
    border:1px solid #aaa; 
    color:#fff; 
    width:295px; 
    height:20px;
    background-color: black;
 }
 
 #progress {
    background-color:#ff0000;
    height:20px;
    display:inline-block;
 }