@font-face {
    font-family: 'Champion-HTF-Bantamweight';
    src: url('/assets/fonts/Champion-HTF-Bantamweight.eot');
    src: url('/assets/fonts/Champion-HTF-Bantamweight.ttf');
    format('truetype');
}

@font-face {
    font-family: 'Champion-HTF-Featherweight';
    src: url('/assets/fonts/Champion-HTF-Featherweight.eot');
    src: url('/assets/fonts/Champion-HTF-Featherweight.ttf');
    format('truetype');
}

@font-face {
    font-family: 'Champion-HTF-Heavyweight';
    src: url('/assets/fonts/Champion-HTF-Heavyweight.eot');
    src: url('/assets/fonts/Champion-HTF-Heavyweight.ttf');
    format('truetype');
}

@font-face {
    font-family: 'Champion-HTF-Middleweight';
    src: url('/assets/fonts/Champion-HTF-Middleweight.eot');
    src: url('/assets/fonts/Champion-HTF-Middleweight.ttf');
    format('truetype');
}

@font-face {
    font-family: 'GT-America-Mono-Medium';
    src: url('/assets/fonts/GT-America-Mono-Medium.eot');
    src: url('/assets/fonts/GT-America-Mono-Medium.ttf');
    format('truetype');
}

@font-face {
    font-family: 'GT-America-Mono-Regular';
    src: url('/assets/fonts/GT-America-Mono-Regular.eot');
    src: url('/assets/fonts/GT-America-Mono-Regular.ttf');
    format('truetype');
}

@font-face {
    font-family: 'GT-Sectra-Medium';
    src: url('/assets/fonts/GT-Sectra-Medium.eot');
    src: url('/assets/fonts/GT-Sectra-Medium.ttf');
    format('truetype');
}


/* div {
    border: 0.7px red dashed;
} */

html {
    overflow: hidden;
}

body {
    background-color: #dedede;
}

.container {
    position: fixed;
    display: grid;
    top: 0;
    left: 0;
    width: 100%;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: repeat(auto-fill, min-content));
}

.container-left {
    display: grid;
    height: 100vh;
    /* height: auto; */
    border-right: 2px solid #5Ae100;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    /* border: 1px solid red; */
}

.container-right {
    display: grid;
    /* height: 100vh; */
    /* border: 1px solid red; */
}

#header-div {
    margin: 2em;
    text-align: center;
    height: 12vh;
    /* border: 1px solid red; */
}

.header-text-wide {
    font-family: "Champion-HTF-Heavyweight";
    font-size: 3em;
    line-height: 1em;
    text-transform: uppercase;
    position: relative;
    vertical-align: top;
    top: 0rem;
    padding: 0;
}

.header-text-narrow {
    font-family: "Champion-HTF-Featherweight";
    font-size: 3em;
    line-height: 1em;
    text-transform: uppercase;
    position: relative;
    vertical-align: top;
    top: 0rem;
    padding: 0;
}


/* LEFT SIDE*/

.left-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, min-content));
    border-right: solid 2px #5Ae100;
}

#footer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #dedede;
    border-top: solid 2px #5Ae100;
    height: auto;
    position: absolute;
    bottom: 0;
    width: 100vw;
    text-align: center;
}

.footer-h3 {
    font-family: "GT-America-Mono-Medium";
    color: #5Ae100;
    font-size: 1.5em;
}


/*FLOW CHART*/

#flow-chart {
    width: 200vh;
    z-index: -5;
    left: -23em;
    top: -30%;
    position: absolute;
}


/* RIGHT DIAGRAM */

.right-section {
    background-color: #dedede;
    z-index: 5;
}

#right-diagram-table {
    background-color: #dedede;
}

#right-diagram-img {
    width: 30vw;
    z-index: 2;
    top: 2em;
    bottom: 2em;
    position: absolute;
    padding: 2em;
    vertical-align: middle;
    /* border: 1px solid red; */
}


/* LEFT DIAGERAM */

.diagram-div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px red;
    width: 100%;
    height: 120vh;
    position: relative;
    top: -20vh;
}


/* SVG */

.item-1 {
    border: solid 1px red;
}

.diagram-rect {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* 
.diagram-plus {
    background: #5Ae100;
    display: flex;
    align-items: right;
    justify-content: right;
    margin-left: 1em;
    position: relative;
} */

#ewaste-dropoff-rect {
    text-align: left;
    padding: 2em;
}


/* #line1{
   width: 1px;
   background-color: red;
} */


/* FOOTER 
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: grid;
    width: 100%;
    grid-template-rows: repeat(2, minmax(10%, min-content));
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    grid-column: 1/-1;
    background-color: #DADADA;
    font-family: "GT-America-Mono-Medium";
    color: #5Ae100;
    font-size: 1.5em;
}

#footer-div {
    border-right: 2px solid #5Ae100;
    border-top: 2px solid #5Ae100;
    height: 9vh;
}

.left-footer-div {
    width: 25%;
    display: inline-block;
}

#footer-home {
    padding: 15px;
    height: 5vh;
    width: 40%;
    border-right: 2px solid #5Ae100;
}

#footer-back {
    padding: 15px;
    height: 5vh;
}

#footer-finish {
    padding: 15px;
    height: 5vh;
    border-top: 2px solid #5Ae100;
    text-decoration: none;
    color: #5Ae100;
}

#footer-link {
    text-decoration: none;
    color: #5Ae100;
    line-height: 0;
}

#footer-link:hover {
    color: black;
}

#footer-link:visited {
    text-decoration: none;
}

#next-arrow-anim {
    display: inline-block;
    width: 300px;
    line-height: 0;
    padding: -2px 5px;
}

#go-back {
    text-decoration: none;
    color: #5Ae100;
}

#go-back:hover {
    color: black;
}

.element-icon {
    width: 11.5em;
    display: inlines-block;
    cursor: pointer;
}

.element--item {
    padding: 5px 15px;
    display: inline-block;
}

.element-info {
    width: 1.75em;
    display: inline-block;
    padding-left: 5px;
    vertical-align: top;
}

.element-info-about {
    width: 7em;
    display: block;
    padding-top: 2em;
}

*/